h1, h2, h3, p {
    font-family: Helvetica;
}

h1 {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
    text-align: center;
    font-size: 100px;
    color: Khaki;
}

#brush {
    background-color: MediumSpringGreen;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.item h2 {
    color: white;
    font-size: 32px;
}

#frame {
    background-color: LightCoral;
}

#paint {
    background-color: SkyBlue;
}

.price {
    color: Blue;
    font-weight: bold;
}